@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    color: rgb(58, 58, 58);
}

*{
    margin : 0;
}

a{
    text-decoration: none;
    color: rgb(58, 58, 58);
}

:root{
    --primary: rgb(224, 44, 109);
}


/*<<<<< -----=====shared style=====----- >>>>>>*/


.flex-column{
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sb{
    display: flex;
    justify-content: space-between;

}

.btn-primary-rounded{
    color: white;
    background-color: var(--primary);
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    border: none;
}



/* <<<<<-----=====Header=====----->>>>> */

.header{
    max-width: 1440px;
    padding: 90px 120px;
    margin: 0 auto;
}

.navbar{
    align-items: center;
}
.nav-logo{
    font-size: 1.5rem;
    font-weight: 700;
}


ul li{
    list-style: none;
    font-weight: 600;
}



.nav-menu{
    gap: 2rem;
}

li .search-icon:hover{
    background-color: blue;
}

/* hero section */

.hero-section{
    margin-top: 50px;
    align-items: center;
    gap: 8rem;
    background: url('../images/circle-bg.png') right center no-repeat;
    background-size: auto;
    gap: 130px;
}

.hero-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.hero-description{
    font-weight: 600;
    margin-bottom: 1rem;
}

.logo-box{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 4rem;
}



/* <<<<<-----=====.=====----->>>>> */

/* <<<<<-----=====main section=====----->>>>> */



/* ======collection====== */

.collection{
    max-width: 1086px;
    margin: auto;
    padding: 0 150px;
    
}

.section-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4rem;
    text-align: center;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;

    max-width: 1086px;
    margin: auto;
}

.card{
    padding: 16px 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    max-width: 332px;

}

.card img{
    max-width: 100%;
}

.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    margin: 0px 0px 16px;
    color: rgb(24, 25, 31);

}

.card-price{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 16px 0px 10px;
    color: rgb(24, 25, 31);
}

.star-icon{
    display: flex;
}

.card-number{
    font-size: 14px;
    font-weight: 700;
    color: rgb(120, 120, 133);
    margin-left: 5px;
}

.card-description{
    font-size: 14px;
    font-weight: 700;
    color: rgb(120, 120, 133);
    line-height: 1.5;
    margin-bottom: 10px;
    /* width: 200px; */
}


.btn-light{
    margin-top: 50px;
    border: none;
    color: var(--primary);
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 0px 10px 16px;
    border-radius: 8px;
    background: #ffffff;
    float: right;
}


.card-3,
.card-6,
.card-9,
.card-12{
    justify-self: end;
}

.card-2,
.card-5,
.card-8,
.card-11{
    justify-self: center;
}


/* <<<<<-----=====Feature Section=====----->>>>> */

.feature{
    align-items: center;
    max-width: 1110px;
    padding: 0px 120px;
    margin: 100px auto;
    gap: 6rem;
    
}



.feature figure{
    border-radius: 7px;
}

.feature-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.feature-description{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    max-width: 500px;
    color: rgb(108, 108, 108);
}


.btn-primary{
    background-color: var(--primary);
    padding: 12px 24px;
    font-weight: 700;
    color: #ffffff;
    border: none;
}


/* <<<<<<<<--------======responsive=====-------->>>>>>>> */

@media (max-width: 576px) {
    /* header */

    .header{
        padding: 20px;
    }

    .navbar,
    .hero-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .hero-section{
        flex-direction: column-reverse;
    }
    .nav-menu{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    
    .hero-section{
        background-position: top center;
        background-size: 100%;
    }

    .hero-title{
        font-size: 1.75rem;
        text-align: center;
    }

    .hero-description{
        text-align: center;
    }

    .hero-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section img{
        max-width: 100%;
    }


    .logo-box{
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }
    
    .item-5,
    .item-6,
    .item-7{
        
        justify-content: center;
    }

    /* end of header */

    .collection{
        padding: 20px;
    }
    .card{
        justify-self: center;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);

    }

    .card-10,
    .card-11,
    .card-12{
        display: none;
    }

    .btn-light{
        padding: 16px;
        float: none;
        
    }


    /* feature */

    .feature{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;
        padding: 20px 40px;
        margin: 50px 0px;
    }

    .feature-title{
        font-size: 1.5rem;
    }
}


@media (min-width:577px) and (max-width:900px){
    .header{
        padding: 2rem;
    }

    .navbar{
        flex-direction: column;
        gap: 24px;
    }
    .hero-section{
        flex-direction: column-reverse;
        gap: 20px;
        background-position: top center;
        
    }

    .hero-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background-size: 100%; */
    }

    .hero-title{
        font-size: 2rem
    }

    .hero-img img{
        max-width: 100%;
    }
    .logo-box{
        grid-template-columns: repeat(3 ,1fr);
        row-gap: 20px;
    }

    .item-7{
        grid-column-start: 2;
        justify-self: center;
    }

    .item-3, .item-6{
        justify-self: end;
    }

    .item-2, .item-5{
        justify-self: center;
    }

    /* end of header */

    .collection{
        padding: 40px;
    }

    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }



    /* feature */
    .feature{
        padding: 40px;
        gap: 40px;
    }

    .feature-title{
        font-size: 24px;
    }
}


/*  */

@media (min-width: 901px) and (max-width:1110px){

    .header{
        padding: 40px;
    }
    .hero-img img{
        max-width: 100%;
    }

    .hero-section{
        gap: 3rem;
    }
}


@media (min-width: 1440px) {
    .collection,
    .card-container{
        max-width: 1440px;
        margin: auto;
    }

    .card-container{
        grid-template-columns: repeat(4, 1fr);
    }

    
    
    .card img{
        
    }
}